<ion-view title="'Heading Out?'">
	<ion-content has-header="false" has-tabs="false">

		<div class="card" ng-repeat="dayData in forecast">
			<!-- 
			  TODO: Accomodate weather conditions, 
			  	eg. ".rainy" if dayData.weather[0].main contains the string "Rain"
			-->
			<div class="item item-text-wrap temperature {{outWeatherType()}}">
				{{dayData.temp.day | number:0}}&deg;
			</div>

			<div class="item item-divider today">
				<!-- dt = Unix time of temperature forecast, multiplied by 1000 for milsec -->
				{{(dayData.dt*1000) | date:'EEEE'}}
			</div>

		</div>

		<script></script>

	</ion-content>
</ion-view>