/* author:
	Henry Holmes 
*/

body {
	background: #efefef;
}

.temperature {
  font-size: 5em;
  padding: 40px;
}

.card .item.today {
	color: #fff;
	background: #444 !important;
}

.temperature.sunny {
  background: lightyellow;
}

.temperature.rainy {
  background: lightblue;
}
