/* author:
	Henry Holmes 
*/

h1 {
	width: 100%;
}
h1.temperature {
	font-size: 10em;

}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 100px;
  color: #1a1a1a;
  background-color: #fcfcfc;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
